{% extends "compareimages/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h2>画像コンペア結果</h2>
            {% if image %}
                <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="{{ image.image1.url }}" class="card-img-top" alt="{{ image.image_title1 }}">
                                        <h5 class="card-title text-center">{{ image.image_title1 }}</h5>
                                        <p class="card-text">タグ: {{ image.tags1 }}</p>
                                        <p class="card-text">説明: {{ image.descriptions1}}</p>
                                        <p class="card-text">カテゴリ: {{ image.categories1 }}</p>
                                        <p class="card-text">色: {{ image.colors1 }}</p>
                                        <p class="card-text">オブジェクト: {{ image.image_objects1 }}</p>
                                        <p class="card-text">画像タイプ: {{ image.image_types1 }}</p>
                                    </div>
                                    {% if image.image2 %}
                                    <div class="col-md-6">
                                        <img src="{{ image.image2.url }}" class="card-img-top" alt="{{ image.image_title2 }}">
                                        <h5 class="card-title text-center">{{ image.image_title2 }}</h5>
                                        <p class="card-text">タグ: {{ image.tags2 }}</p>
                                        <p class="card-text">説明: {{ image.descriptions2}}</p>
                                        <p class="card-text">カテゴリ: {{ image.categories2 }}</p>
                                        <p class="card-text">色: {{ image.colors2 }}</p>
                                        <p class="card-text">オブジェクト: {{ image.image_objects2 }}</p>
                                        <p class="card-text">画像タイプ: {{ image.image_types2 }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                                {% if image.image2 %}
                                <div class="card-body">
                                    <h4 class="card-title" style="color: blue;">結論:{{ image.result }} </h4>
                                    <img src="{{ image.diffimage.url }}" class="card-img-top" alt="{{ image.result }}">
                                    <p class="card-text">相関係数（Correlation）: {{ image.score_corr }}</p>
                                    <p class="card-text">カイ二乗検定（Chi-Square）: {{ image.score_chi_square }}</p>
                                    <p class="card-text">画像間のタグの類似度スコア: {{ image.tags_similarity }}</p>
                                    <p class="card-text">説明が一致していますか: {{ image.descriptions_similarity}}</p>
                                    <p class="card-text">画像間のカテゴリの類似度スコア: {{ image.categories_similarity }}</p>
                                    <p class="card-text">色が一致していますか: {{ image.colors_similarity }}</p>
                                    <p class="card-text">画像間のオブジェクトの類似度スコア: {{ image.image_objects_similarity }}</p>
                                    <p class="card-text">画像タイプが一致していますか: {{ image.image_types_similarity }}</p>
                                    <p class="card-text">完成時間: {{ image.completed }}</p>
                                    <p class="card-text">当月Azure利用回数: {{ image.Azure_used_count }}</p>
                                </div>
                                {% else %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="card-text">完成時間: {{ image.completed }}</p>
                                        <p class="card-text">当月Azure利用回数: {{ image.Azure_used_count }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                </div>
            {% else %}
                <div class="text-center">
                    <h2>画像コンペア結果がない!</h2>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="text-center col-md-6">
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'history' %}">利用履歴</a>
        </div>
        <div class="text-center col-md-6">
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'home' %}">Back To Home</a>
        </div>
    </div>
    </div>
{% endblock %}